<!DOCTYPE HTML>
<html>
	<head>
		<title>Mesos Marathon Web Client</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href	="{{ url_for('static', filename='assets/css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="logo">
							<span class="icon fa-diamond"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>MESOS MARATHON WEB CLIENT</h1>
								<p><!--[-->A Web Interface to run Applications in Mesos Cluster by using Marathon API<!--]--><br />
								<!--[-->Test it NOW!!!<!--]--></p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="/start">Create</a></li>
 								<li><a href="/stop">Distroy</a></li>
 							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">


					</div>

				<!-- Footer -->
					<footer id="footer">
						<p class="copyright"> Developed By: <a href="https://github.com/timam">TIMAM</a>.</p>
					</footer>

			</div>

		<!-- BG -->
			<div id="bg"></div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
